__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
*.pyc
*.pyo
*.pyd
.uv/
.nvim/
*.swp
*.pt
*.pth
*.bin
*.ckpt
out/
log
gsm8k_dataset/
Qwen2.5-1.5B base model/
*.safetensors
*.json
metamathqa
processed-metamathqa
